body {
  background-color: rgb(34, 32, 32);
  text-align: center;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  color: white;
  text-align: center;
  -webkit-text-stroke: 1px red;

}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  color: white;
  -webkit-text-stroke: 1px red;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
